.landing-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 13rem;
}

.landing-header {
    font-size: 2.4rem;
    font-weight: bold;
}