.results-container {
    padding: 0 0rem;
}

.results-searchbar {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.movieTitle-card {
    background-color: white;
    border-radius: 10px;
    margin: .8rem 10%;
    box-shadow: 0 1px 2px 1px rgb(194, 194, 194);
    padding: 1rem;
    text-align: left;
    letter-spacing: .5px;
}

.movieTitle-card:hover {
    cursor: pointer;
    background-color: #ff7256;
    color: white;
    box-shadow: none;
}

.movieTitle {
    display: inline-block;
}

.results-info {
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: .8rem 10%;
    text-align: left;
}

.noresults-div {
    color: white;
    font-size: 20px;
    text-align: center;
}