.landing-navbar {
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 30px;
    letter-spacing: 5px;
}

.navbar-logo {
    margin-left: 10px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(149deg) brightness(104%) contrast(103%);
}